SP 1.1 Entendendo Requisitos
      Desenvolver um entendimento com os provedores de requisitos para melhor entendimento sobre o mesmo.
      
  
      À medida que o projeto amadurece e os requisitos são identificados, 
      todas as atividades ou disciplinas receberão 'requerimentos'**.Para evitar requisitos não desejados,
      se estabelece um critério, uma forma oficial ou apropriada para estabelecer os requisitos. Aqueles que recebem 
      a exigência do fornecedor para realizar analises e garantir a compreensão exata do requisito. O Resultado dessas 
      analises e diálogos é um conjunto de requerimentos.
      
      Exemplo produtos de trabalho
    1. Lista de critérios para distinguir fornecedores apropriados de requisitos.
    2. Critério para aceitação e validação de requisitos.
    3. Resultado da analise dos critérios.
    4. Conjunto de requisitos aprovados.
      Subpráticas
    1. Estabelecer um critério para distinguir apropriados de requisitos.
    2. Estabelecer objetivos para aceitação e avaliação dos requisitos.
    <A falta de critérios de avaliação e de aceitação muitas vezes resulta na verificação inadequada,
desperdício, ou rejeição do cliente.>

    Exemplos de avaliação e aceitação, incluem:
    *Claramente e devidamente declarado.
    *Completo.
    *Consistente um com o outro.
    *Excepcionalmente identificado.
    *Coerente com abordagem aproximada e qualidade atribuída à propriedade.
    *Apropriado para implementação.
    *Verificável (Ex.: Testável).
    *Rastreável.
    *Atingível.
    *Amarrado aos valores do negócio.
    *Identificado como prioridade para o cliente.
    
    3.Analisar os requisitos para garantir que os critérios estabelecidos sejam cumpridos.
    4.Chegar a um entendimento dos requisitos com os clientes, para que os participantes do projeto possam comprometer-se.
    
    
    ---
      ** Verificar
      
      Tradução 0.0.2 - 25/02/14


-------------------------------------------------------------------------------------------------------------------------

Resumo para o trabalho:

      SP 1.1 Entendendo Requisitos
      
            Elaborar um estudo de caso detalhado com os clientes para melhor entendimento dos requisitos.
            
            Os requisitos ' aparecem ' conforme a ideia do projeto amadurece, com isso, um diálogo claro com o cliente
            e um bom entendimento, evitará aparecer requisitos não desejados no meio do processo.
